= form_for :dump, url: {action: "reserve"}, html: { multipart: true } do |f|
  %table
    %tr
      %td
        %label Выберите резервного официанта    
        .label#period= f.select :waiter, collection: @waiters
    %tr
      %td{width: "110"}
        = submit_tag 'Выполнить'
      
