= form_for :dump, url: {action: "day_stats"}, html: { multipart: true } do |f|
  %table
    %tr
      %td
        %label Дата    
        .label#period= f.text_field :date, :class => 'datepicker'
    %tr
      %td{width: "110"}
        = submit_tag 'Submit'
      
